<h4>Event bind example</h4>
<div class="d-flex flex-column gap-2 w-25">
    <div class="d-flex gap-2 align-items-center">
        <button 
        (click)="decrementTimes()"
        class="btn btn-primary btn-sm flex-grow-1"> -
        </button>

        <span>{{times}}</span>
        <button
        (click)="incrementTimes()"
        class="btn btn-primary btn-sm flex-grow-1"> +
        </button>
    </div>
    <button class="btn btn-primary btn-sm flex-grow-1" (click)="reset()">Reset</button>
</div>

<div class="d-flex mt-2 flex-column gap-2 w-25">
    <input type="text" class="form-control" (input)="onUserInput($event)">
    @if (!userInput) {
        <span class="text-danger">No User Input</span>
    } @else {
        <span class="text-bg-info">{{userInput}}</span>
    }
</div>